.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: fit-content;
    height: fit-content;


    .inputContainer{
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        
        width: fit-content;
        height: fit-content;

        #title{
            color: #1233E5;
            font-weight: 600;
        }
        
    }

    .buttonContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 12px;

        width: 100%;
        height: fit-content;

        #forgotPasswordBtn{
            color: #5971EE;
        }
        #forgotPasswordBtn:hover{
            cursor: pointer;
        }
    }

}